/* ChangePassword.css */
.change-password-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.change-password-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.logo {
    width: 80%;
    margin-bottom: 20px;
}

.change-password-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.message {
    color: red;
    margin-top: 10px;
}

.btn-primary {
    width: 100%;
}

.logo-bottom {
    width: 50%;
    margin-top: 20px;
}
