/* Estiliza a navbar */
.navbar-custom {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    height: 40px;
    margin-top: 10px;
}

.navbar-custom .navbar-icons .icon {
    font-size: 1.5rem; /* Tamanho dos ícones maior */
    color: white; /* Cor dos ícones */
    cursor: pointer;
    padding-right: 30px;
}

    .navbar-custom .navbar-icons .icon:hover {
        color: #d1d1d1; /* Cor dos ícones ao passar o mouse */
    }

/* Estiliza a sidebar */
.sidebar-custom {
    width: 250px;
    position: fixed;
    height: 100%;
    top: 56px; /* Ajuste conforme a altura da navbar */
    left: 0;
    overflow-y: auto;
    background: #e0e0e6; /* Cor de fundo cinza clara azulada */
}

    .sidebar-custom .sidebar-heading {
        padding: 5px 15px;
        padding-top: 45px;
        font-size: 1.2rem;
        color: #333; /* Cor do texto */
        background-color: #e0e0e6;
    }

    .sidebar-custom .list-group-item {
        padding: 10px 15px;
        color: #333; /* Cor do texto */
        background-color: #e0e0e6; /* Cor de fundo padrão */
        border-radius: 0px;
        border-color: white;
        cursor: pointer;
        transition: background-color 0.3s ease; /* Adiciona uma transição suave */
    }

        .sidebar-custom .list-group-item a {
            text-decoration: none; /* Remove sublinhado dos links */
            color: inherit; /* Mantém a cor do texto */
            display: block; /* Garante que o link ocupe toda a área do item */
            width: 100%; /* Ocupa toda a largura */
            height: 100%; /* Ocupa toda a altura */
        }

        .sidebar-custom .list-group-item:hover {
            background-color: #007bff; /* Cor de fundo ao passar o mouse */
            color: white; /* Cor do texto ao passar o mouse */
        }

/* Estiliza o conteúdo principal */

.dashboard-admin {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: white; /* Fundo branco para a área principal */
}

.dashboard-content {
    margin-left: 250px; /* Espaço para a sidebar */
    padding: 20px 40px 20px 40px;
    background-color: white;
    min-height: 120vh;
    margin-top: 85px; /* Espaço para a navbar */
    width: 100%; /* Ajuste a largura para preencher o espaço restante */
}
