/* Estilos gerais para o gerenciamento de utilizadores */
.create-user-container,
.list-users-container,
.activate-deactivate-user-container,
.associate-permissions-container,
.associate-area-container,
.manage-users-container,
.user-profile-container, 
.areas-container {
    background-color: white;
    padding-left: 10px;
    width: 60%;
}

/* Estilo para a lista de gerenciamento de utilizadores */
.manage-users-list {
    list-style: none;
    padding: 0;
}

    .manage-users-list li {
        margin-bottom: 10px;
    }

    .manage-users-list a {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }

        .manage-users-list a:hover {
            text-decoration: underline;
        }

/* Estilos para áreas */
.areas-list {
    list-style-type: none;
    padding: 0;
}

    .areas-list li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }


/* Estilos para o formulário */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group-inline {
    display: flex;
    justify-content: space-between;
}

    .form-group-inline .form-group {
        flex: 1;
        margin-right: 10px;
    }

        .form-group-inline .form-group:last-child {
            margin-right: 0;
        }

.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 20px;
}

    .form-buttons .btn + .btn {
        margin-left: 10px; /* Adiciona um espaço entre os botões */
    }

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: white;
    height: 20px;
}

/* Estilo para a barra de busca */
.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

    .search-bar select {
        margin-right: 10px;
        padding: 10px;
        max-width: 200px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .search-bar input {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

/* Estilo para a lista de utilizadores */
.user-list {
    list-style: none;
    padding: 0;
}

    .user-list li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

/* Estilo para a tabela de utilizadores */
.table {
    width: 100%;
    border-collapse: collapse;
}

    .table th,
    .table td {
        padding: 12px;
        border: 1px solid #ddd;
        text-align: left;
        vertical-align: middle;
    }

    .table th {
        background-color: #f4f4f4;
    }

.btn-link {
    color: #007bff;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

    .btn-link:hover {
        text-decoration: underline;
    }

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
    padding: 5px 10px;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
    padding: 5px 10px;
}

.btn-comum {
    background-color: #f4f4f4;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn-admin {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
    .btn-admin:hover {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
    }
/* Estilo para a paginação */
    .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

    .pagination button {
        margin: 0 5px;
        padding: 10px 20px;
    }

/* Mensagens de aviso */
.message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

    .message.success {
        color: green;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }

    .message.error {
        color: red;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }

/* Estilos para o perfil do usuário */
.user-profile-container {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

    .user-profile-container h2 {
        margin-bottom: 20px;
    }

    .user-profile-container p {
        margin: 10px 0;
        font-size: 1.1rem;
    }

.back-button {
    float: right;
    margin-bottom: 20px;
}

.user-name {
    font-weight: bold;
    cursor: pointer;
}

    .user-name:hover {
        color: #007bff;
        text-decoration: underline;
    }
