.login-background {
    background-color: #007bff; /* Azul de fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff; /* Caixa branca */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    max-width: 200px;
    margin-bottom: 1rem;
}

.small-logo {
    max-width: 100px;
    margin-top: 2rem;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left; /* Alinhando à esquerda */
}

    .form-group label {
        display: block;
        text-align: left; /* Alinhando o texto do label à esquerda */
    }

.message {
    color: red;
    margin-top: 1rem;
}

.login-title {
    font-size: 1.5rem; /* Diminuindo o tamanho da palavra Login */
    margin-bottom: 1rem;
}
